body {
  color: black;
}

a {
  color: black;
}

.nav {
  float: right;
  margin-right: 4%;
}

h1 {
  font-size: 24px;
  margin-top: 4%;
}

h3 {
  font-size: 14px;
  margin-top: 0;
  color: gray;
  margin-bottom: 4%;
}

textarea {
  resize: none;
}

.header-photo {
  background: url('../images/header.jpeg');
  background-size: 100%;
}

.header-input {
  background: #E90013;
  color: white;
  vertical-align: middle;
  text-align: center;
  border: none;
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
}

.header-input_textarea {
  display: block;
  width: 20%;
  height: 24px;
}

.header-input_textarea::selection {
  color: #fff;
  background-color: #000;
}

.header-input_button {
  margin-top: 8px;
  display: inline-block;
  width: 10%;
  text-decoration: none;
  margin-bottom: 4%;
}

.header-input_button a {
  color: white;
}

.header-input_button a:hover {
  color: black;
  text-decoration: none;
}

.text-center {
  text-align: center;
}

.text-narrow {
  width: 14em;
}

.col-md-4 .img-thumbnail, .text-narrow {
  margin-left: auto;
  margin-right: auto;
  display: block;
}
